<!DOCTYPE html>
<html lang="en" ng-app="mocKr">
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
  <!-- inject:css -->
  <link rel="stylesheet" href="/static/css/main.css">
  <!-- endinject -->
</head>

<body>
  <div class="main container-fluid">
    <div class="wrapper">
      <div class="error" ui-view="error"></div>
      <div class="header" ui-view="header"></div>
      <div class="layout" ui-view="layout"></div>
      <div class="footer" ui-view="footer"></div>
    </div>
  </div>

  <!-- inject:js -->
  <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/static/vendor/angular/angular.js"></script>
  <script src="/static/vendor/socket.io-client/socket.io.js"></script>
  <script src="/static/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/static/vendor/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/static/vendor/lodash/dist/lodash.js"></script>
  <script src="/static/vendor/underscore.string/lib/underscore.string.js"></script>
  <script src="/static/vendor/angular-bootstrap-toggle-switch/angular-toggle-switch.js"></script>
  <script src="/static/js/app.js"></script>
  <script src="/static/js/dashboard.js"></script>
  <script src="/static/js/localstorage.service.js"></script>
  <script src="/static/js/lodash-stuff.js"></script>
  <script src="/static/js/logs.ctrl.js"></script>
  <script src="/static/js/process.ctrl.js"></script>
  <script src="/static/js/proxy.entity.js"></script>
  <script src="/static/js/socketio.service.js"></script>
  <script src="/static/js/templates.js"></script>
  <!-- endinject -->
</body>
</html>
