body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', sans-serif;
}

body {
  background: #272B30;
  color: #eee;
  overflow: hidden;
}

.wrapper {
  .make-row();
}

.error {
  position: absolute;
  z-index: 1000;
  top: 5px;
  left: 20%;
  width: 60%;
  .center-block();
}

.header, .footer {
  .make-lg-column(12);
}

.header {
  background: #121316;

  h1 {
    margin: 0.5em 0;
    padding: 0;
    color: #bbb;

    span.k {
      color: #20FF58;
    }
  }

  p.baseline {
    position: absolute;
    top: 19px;
    left: 90px;
    color: #888;
    font-size: 0.8em;
  }
}

.footer {
  position: absolute;
  bottom: 0;
}

.primary-container {
  .make-lg-column(5);
}

.secondary-container {
  .make-lg-column(6);
  .make-lg-column-offset(1);
}

.logs-container {
  position: absolute !important;
  bottom: 0;
  max-height: 200px;
  .make-lg-column(12);
  background: #242429;
}
